$color-main: #FFF9F9;
$color-secondary: #d9e7ff;
$color-accent: #A6C7FF;

// Global Style


section {
    padding: 100px 0;
    background: linear-gradient(90deg, $color-main 0%, $color-secondary 100%);
}

.emoji {
    font-size: 2rem;
    padding: 0 10px;
}

// Hero Section Start 
.hero__wrapper {
    p {
        font-size: 0.9rem;
    }

  

    figure {
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
        border-radius: 20%;
        img {
            width: 100%;
            aspect-ratio: 1/1;
            object-fit: cover;
            object-position: 10% 10%;
            border-radius: 20%;

        }
    }
}
// Hero Section End

// Projects Section Start
.projects__wrapper {
    background-color: white;
    border-color: $color-secondary;
    border-radius: 1rem;
    border-width: 1px;
    border-style: solid;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 50px 0;
}
.line {
    width: 50px;
    height: 1px;
    margin: 0 20px;
    background-color: black;
    display: inline;
}

// React-Bootstrap-Taps Customization
.nav-tabs{
    width: fit-content;
    margin: 0 auto;
}
.nav-tabs .nav-link {
    background-color: transparent !important;
    color: black !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.nav-tabs .nav-link.active {
    border-bottom: solid 4px $color-accent  !important;
    color: $color-accent  !important;
}

// Projects Section End